<!doctype html>
<html lang="en">
  <head>
    <title>Add New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="{{ url_for('add_user') }}" method="post">
      <label for="FFirstname">First Name:</label><br />
      <input type="text" id="FFirstname" name="FFirstname" required /><br />
      <label for="FLastname">Last Name:</label><br />
      <input type="text" id="FLastname" name="FLastname" required /><br />
      <label for="genre">Favorite Genre:</label><br />
      <input type="text" id="genre" name="genre" required /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
